SPRING_PROFILES_ACTIVE=dev

POSTGRES_DB=forum
POSTGRES_USER=user
POSTGRES_PASSWORD=4321

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/forum
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=4321

JWT_SECRET=dev-only-change-me-use-at-least-32-characters-long-secret-key
JWT_EXPIRATION_MS=86400000
